DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=diploma_db

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=diplomas

JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES=12h

# Первый администратор (создаётся при старте, если ещё нет в БД)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin

BLOCKCHAIN_RPC_URL=http://blockchain:8545
BLOCKCHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
BLOCKCHAIN_CONTRACT_ADDRESS=
PUBLIC_VERIFY_URL=http://localhost:3000/verify
